@import '../utilities.scss';

.create-form {
	padding: 0 1rem;
	margin-bottom: 0.5rem;
	&__group {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__header {
		font-size: px-to-rem(20);
		font-weight: 600;
		display: inline-block;
	}

	&__title {
		font-size: 1rem;
		padding: 1rem;
		color: #624991;
	}

	&__collection-name {
		font-size: 1rem;
		font-style: italic;
		color: #5294a1;
	}
	.body-page-editor {
		display: flex;
		@media (max-width: 768px) {
			max-width: 80vw;
		}

		@media (max-width: 550px) {
			max-width: 70vw;
		}

		&__control-group {
			max-width: 100%;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
		}

		&__control-section {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			@media (max-width: 470px) {
				margin: 0.5rem auto;
			}

			.button:nth-child(2) {
				margin-left: 0.5rem;
			}
		}
	}

	&__btn-group {
		display: flex;
		justify-content: flex-end;
	}
}

@media (max-width: $desktop-breakpoint) {
	.create-form {
		.body-page-editor {
			flex-flow: column;
		}
		textarea {
			max-width: 100%;
		}
	}
}
