@import '../utilities.scss';

.create-form {
	padding: 0 1rem;
	margin-bottom: 0.5rem;
	&__group {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
	}
	&__header {
		font-size: px-to-rem(20);
		font-weight: 600;
		display: inline-block;
	}

	&__title {
		font-size: 1rem;
		padding: 1rem;
		color: #624991;
	}

	&__collection-name {
		font-size: 1rem;
		font-style: italic;
		color: #5294a1;
	}

	.body-page-editor {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 2rem;
		height: 100%;

		&__components-list {
			overflow-y: auto;
			width: 100%;
			display: flex;
			flex-flow: column;

			.component {
				display: flex;
				flex-flow: row;

				&__controls {
					margin: 0.5rem 0.5rem 0;
					display: flex;
					flex-flow: column;
				}
			}
		}

		&__container {
			height: 23rem;
			overflow-y: auto;
		}

		&__control-group {
			grid-column: 1 / span 2;
			display: grid;
			grid-template-columns: 1fr 1fr;
			height: 2rem;
			align-content: center;

			&--left {
				width: 100%;
				grid-column: 1;
				justify-self: flex-start;
				* {
					margin-right: 0.25rem;
				}
			}
			&--right {
				width: 100%;
				display: flex;
				justify-content: flex-end;
				grid-column: 2;
				align-items: center;

				.button {
					margin-left: 0.5rem;
				}
			}
		}
	}

	&__btn-group {
		display: flex;
		justify-content: flex-end;
	}
}

@media (max-width: $desktop-breakpoint) {
	.create-form {
		.body-page-editor {
			flex-flow: column;
		}
		textarea {
			max-width: 100%;
		}
	}
}
