.form {
	display: flex;
	flex-flow: column;
	background-color: #fff;
	box-shadow: 0 -1px 3rem rgba(0, 0, 0, 0.12);
	width: 80vw;
	margin: 0 auto;

	&__up-bar {
		cursor: row-resize;
		padding: 0.5rem 0;
		background: #5294a1;
	}
}

.field {
	&__control {
	}
}
