@import '../utilities.scss';

.floating-label {
	position: relative;
	font-size: px-to-rem(14);
	margin: 0.5rem 0;
	input,
	select,
	textarea {
		transition: 0.3s border ease-in-out;
	}
	display: inline-block;

	&--input {
		margin: 0.5rem 0.5rem 0.5rem 0rem;
		display: inline-flex;

		& > input,
		& > select {
			width: 9rem;
			height: px-to-rem(32);
			border: 2px solid #999;
			padding: 0.5rem;
			color: #999;
			&:focus {
				border: 2px solid #333;
				color: #333;
			}
		}
		& > input[type='date'] {
			padding: 0 0.5rem;
		}
		& > select {
			padding: 0;
			font-weight: 500;
			background: #fff;
			display: inline-block;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			cursor: pointer;
			padding-left: 1px;
			text-align: center;
		}
	}

	&--zen-mode {
		position: absolute;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		background-color: #fff;

		.body-page-editor__container {
			height: 100%;
		}

		&.floating-label {
			margin: 0;

			.floating-label__label--files,
			.floating-label__label--div {
				display: none;
			}
		}
	}

	&__label {
		text-transform: capitalize;
		position: absolute;
		background: #fff;
		font-size: px-to-rem(12);
		font-weight: 500;
		top: -26%;
		left: px-to-rem(8);

		&--textarea {
			top: px-to-rem(-8);
		}
		&--file,
		&--div {
			top: px-to-rem(-9);
		}
	}
	&--textarea {
		width: 100%;

		@media (max-width: $desktop-breakpoint) {
			max-width: 80%;
		}

		& > textarea {
			min-height: px-to-rem(256);
			resize: vertical;
			border: 2px solid #999;
			padding: 0.5rem;
			color: #999;
			width: 100%;

			&:focus {
				border: 2px solid #333;
				color: #333;
			}
		}
	}

	&--file {
		border: 2px solid #999;
		padding: 1rem;
		@media (max-width: $desktop-breakpoint) {
			max-width: 80%;
		}
	}
	&--div {
		border: 2px solid #333;
		padding: px-to-rem(17);
		flex: 1;
	}
}

@media (max-width: 436px) {
	.create-form__group--metadata .floating-label {
		margin: 0.5rem auto;
	}
}
