@import './navbar/navbar';
@import './floating-label/floating-label';
@import './collections/create-form';
@import './form-controls/body-page-editor/preview';
@import './sidebar/sidebar';
@import './button/button';
@import './loading/loading';
@import './webfonts.scss';
@import './webicons.scss';

html {
	font-size: 1.5em;
	font-family: 'IBM Plex Sans';
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

.app-sealpage {
	display: flex;
}
